%h2 住所情報登録
= form_for @sending_destinations do |f|
  = render "devise/shared/error_messages", resource: @sending_destinations
  .field
    = f.label :郵便番号
    ＊必須
    %br/
    = f.text_field :post_code

  .field
    = f.label :都道府県
    ＊必須
    %br/
    = f.collection_select :prefecture_code, Prefecture.all, :id, :name
  
  .field
    = f.label :市区町村
    ＊必須
    %br/
    = f.text_field :city
  
  .field
    = f.label :番地
    ＊必須
    %br/
    = f.text_field :house_number
  
  .field
    = f.label :ビル・マンション名と部屋番号
    %br/
    = f.text_field :building_name
  
  .field
    = f.label :電話番号
    %br/
    = f.text_field :phone_number
  
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
