%h2 住所情報登録
= form_for @sending_destinations do |f|
  = render "devise/shared/error_messages", resource: @sending_destinations
  .field
    = f.label :post_code
    %br/
    = f.text_field :post_code
  .field
    = f.label :prefecture_code
    %br/
    = f.collection_select :prefecture_code, Prefecture.all, :id, :name
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :house_number
    %br/
    = f.text_field :house_number
  .field
    = f.label :building_name
    %br/
    = f.text_field :building_name
  .field
    = f.label :phone_number
    %br/
    = f.text_field :phone_number
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
