%h1 トップページ
- if user_signed_in?
  %h2 ログインしています
  = link_to "ログアウト", destroy_user_session_path, method: :delete
  = link_to "商品出品", new_item_path
- else
  %h2 ログインしていません
  = link_to "新規登録", new_user_registration_path
  = link_to "ログイン", new_user_session_path
  / 一時的に使用 後で削除する
  = link_to "商品出品", new_item_path
