<!--<div class="content">-->

<!--<div class="ItemNew-Img">-->
  <!--<p><%= product.name %></p>-->
  <!--<p><%= product.price %>円</p>-->
<!--  <% item.images.each do |image| %>-->
<!--    <%= image_tag image.src.url %>-->
  <!--<% end %>-->
<!--</div>-->

<!--<%= link_to '編集', edit_item_path(item) %> -->

<!--<%= link_to '削除', item_path(item), method: :delete %>-->
