= render "pcHeader"
.search
  = render 'detail_search_form.html'
  .searchResult
    .productLists
      - @products.each do |item|
        - if user_signed_in?
          .productList
            = link_to "items/#{item.id}" do
              %figure.productList--img
                = image_tag item.images[0].src.url
              .productList--body
                %h3.name
                  = item.name
                .details
                  %ul
                    %li
                      = "#{item.price}" + "円"
                    %li
                      %i.fa.fa-star.likeIcon
                        = Favorite.where(item_id: item.id).count
                  %p（税込）
        - else
          .productList
            = link_to "/users/sign_in" do
              %figure.productList--img
                = image_tag item.images[0].src.url
              .productList--body
                %h3.name
                  = item.name
                .details
                  %ul
                    %li
                      = "#{item.price}" + "円"
                    %li
                      %i.fa.fa-star.likeIcon
                        = Favorite.where(item_id: item.id).count
                  %p（税込）
= render "appBanner"
= render "footer"
- if user_signed_in?
  =link_to "/items/new" do
    .SellBtn
      %span.SellBtn__text 出品する
      =image_tag "icon_camera.png", class:"SellBtn__icon" 